.profile__vector {
    display: flex;
    align-self: center;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 700px) {
    .profile__vector {
        max-width: 18px;
    }
}